/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	width: 100%;
	padding-bottom:20px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
	cursor: move;
	cursor: -webkit-grab; cursor: -moz-grab;
}
.swiper-container:active {
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}
.swiper-container .arrow-left,
.swiper-container .arrow-right {
	width: 5%;
	height: 12px;
	font-family:'arial', sans-serif;
	font-size:10px;
	font-weight:bold;
	line-height: 12px;
	border-radius:99px;
	position: absolute;
	color:#fff;
	background-color: rgba(0,0,0,0.5);
	bottom:0;
	margin-top:-13px;
	text-align:center;
	z-index:100;
}
.swiper-container .arrow-left {
	left: 0px;
}
.swiper-container .arrow-right {
	right: 0px;
}
.swiper-container .arrow-left:before {
	content:"\003C";
}
.swiper-container .arrow-right:before {
	content:"\003E";
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}
.swiper-slide .swiper-content {
	overflow:hidden;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.swiper-slide:first-child .swiper-content {
	margin-left:0;
}

.swiper-slide .feature-img img {
	width:100%;
}
.swiper-slide .inner-content {
	padding: 0 15px;
}
/* ===============================================================
Scrollbar Styles
================================================================*/
.swiper-scrollbar-container {
	display:block;
	float:left;
	padding:0 20px !important;
}
.swiper-scrollbar {
	border-radius: 99px;
	background: rgba(0,0,0,0.1);
	height: 12px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
	-ms-touch-action: none;
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
	border-radius: 99px;
}
.swiper-scrollbar-cursor-drag {
	cursor: move;
}

/* ===============================================================
Custom Styles
================================================================*/
.swiper-slide .swiper-content {
	border:1px solid #eee;
	background:#f7f7f7;
}
.swiper-slide .swiper-content .title h2 {
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	margin:20px 0 10px;
}
.swiper-slide .swiper-content .excerpt {
	font-size:14px;
	line-height:18px;
}



